:root{
    --dark-blue:#334155;
    --neutral:#fafafa;
    --pale-blue:#e2e8f0;
    --pink:#9d174d;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--neutral);
    display: grid;
    grid-template-columns: 1fr 4fr;
}
img{
    width: 20px;
    height: auto;
    
}

.sidebar{
    background-color: var(--dark-blue);
    color: var(--neutral);
    grid-row: 1/3;
    
}

.header{
    
    background-color: var(--pale-blue);
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
}
.search{
    display: grid;
    grid-template-columns: 0.1fr 3fr;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px; 
}

#search{
    border-radius: 15px;
    border: none;
    height: 30px;
  
    padding-left: 10px; 
    
}

#search:focus{
    outline: none;
    box-shadow: 0 0 5px rgb(190, 190, 190);
}

.header-account{
 
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 20px;
}

.users{
    background-color: var(--pink);
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.box{
    background-color: var(--pale-blue);
    border-radius: 10px;
    border: 2px solid var(--dark-blue);
    padding: 30px 10px;
    
}
.main-box{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-column: 1/2;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;

    
    
}
.annou{
    grid-column: 2/3;
}
.trendings{
    grid-column: 2/3;
}